<form method="post" action="/figures/<%= @figure.id %>">
  <input type="hidden" name="_method" value="patch">
  <label>Name</label>
  <input type="text" id="figure_name" name="figure[name]" value="<%= @figure.name %>">

  <label>Edit Titles</label>
  <% Title.all.each do |title| %>
    <label><%= title.name %></label>
    <input type="checkbox" id="title_<%= title.id %>" value="<%= title.id %>" name="figure[title_ids][]">
  <% end %>

  <label>Edit Landmarks</label>
  <% Landmark.all.each do |landmark| %>
    <label><%= landmark.name %></label>
    <input type="checkbox" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>" name="figure[landmark_ids][]">
  <% end %>

  <label>New Title Name</label>
  <input type="text" id="new_title" name="title[name]">

  <label>New Landmark Name</label>
  <input type="text" id="new_landmark" name="landmark[name]">
  <label>Year Completed</label>
  <input type="text" id="year_completed" name="landmark[year_completed]">


  <input type="submit" value="Edit Figure">

</form>
