<form method="post" action="/figures">
  <label>Name</label>
  <input type="text" id="figure_name" name="figure[name]">

  <label>Titles</label>
  <% Title.all.each do |title| %>
    <label><%= title.name %></label>
    <input type="checkbox" id="<%= title.id %>" value="<%= title.id %>" name="figure[title_ids][]">
  <% end %>

  <label>Landmarks</label>
  <% Landmark.all.each do |landmark| %>
    <label><%= landmark.name %></label>
    <input type="checkbox" id="<%= landmark.id %>" value="<%= landmark.id %>" name="figure[landmark_ids][]">
  <% end %>

  <label>New Title Name</label>
  <input type="text" id="new_title_name" name="title[name]"

  <label>New Landmark Name</label>
  <input type="text" id="new_landmark_name" name="landmark[name]">


  <input type="submit" value="Create">

</form>
